.header {
    text-align: center;
    font-size: 300%;
    font-family: Arial, Helvetica, sans-serif;
    color:chartreuse;
    background-color: black;
}

.para {
    text-align: center;
    font-size: 200%;
    font-family:'Courier New', Courier, monospace;
    color: yellowgreen;
    background-color: #333;
}

#secondheading {
    font-size: 40px;
    color: rgb(50, 51, 4);
    background-color: rgb(93, 91, 91);
    text-align: center;

}

/* li { 
font-size: 200%;
font-style: italic;
text-align: center;
} */

ul {
    font-size: 300%;
    text-align: center;
    text-shadow: 1px 1px 45px yellow;

}

body {
    background-color:#333
}